# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Local Databases
data/*.db
data/*.sqlite

# Local Data (PDFs/Docx for reading)
data/*.pdf
data/*.docx
!data/readme.txt

# Models (too large)
models/

# OS specific
.DS_Store
Thumbs.db
